.wrapper-delete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-delete {
  width: 400px;
  background-color: #fff;
  border: 1px solid #818181;
  border-radius: 10px;
  padding: 10px;
}

.field-delete-title {
  text-align: center;
  margin-bottom: 10px;
}

.delete-block:nth-child(n + 2) {
  margin-top: 10px;
}